{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/boy.jpeg' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<a href="{% url 'my_home' %}">HOME</a>
<a href="{% url 'my_about' %}">ABOUT</a>
<a href="{% url 'my_contact' %}">CONTACT</a>
<a href="{% url 'my_service' %}">SERVICES</a>

<h2>Welcome to our home page</h2>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem beatae ex inventore officiis quas recusandae repellat unde! Dolore doloremque eius ipsam, ipsum mollitia nihil obcaecati placeat quas quasi reiciendis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur consequuntur corporis cupiditate dicta ducimus ea id impedit iusto, maiores modi neque nihil nobis quae ratione repellendus soluta velit veniam!</span></p>
<img src="{% static 'images/boat.jpeg' %}" alt="">


<script src="{% static 'js/main.js' %}"></script>
</body>
</html>